<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="Suite" parallel="tests">
  <test name="IOS tests">
  	<parameter name="deviceQuery" value="@os='ios'"/>
    <classes>
      <class name="com.experitest.auto.LoginTestIOS"/>
    </classes>
  </test> <!-- Test -->
  <test name="Android tests">
  	<parameter name="deviceQuery" value="@os='android'"/>
    <classes>
      <class name="com.experitest.auto.LoginTest"/>
    </classes>
  </test> <!-- Test -->
</suite> <!-- Suite -->
